body {
  text-align: center;
  background-image: url(./1.jpg);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
}

.container {
  margin: auto;
  padding: 0 15px;
}

.title {
  margin: 40px 0px 20px;
  color: #b2ee65;
  font-size: 60px;
  letter-spacing: 5px;
}

.timer {
  color: #b2def0;
  font-size: 40px;
}

.field {
  display: inline-block;
  padding: 30px;
}

.value {
  display: inline-block;
  width: 100px;
  padding: 5px;
  border-radius: 50%;
  background: #551ab4;
}

.label {
  display: block;
  padding-bottom: 15px;
  font-size: 24px;
}
